@model BBS2._0.ViewModel.SectionDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function AddPost()
    {
        parent.document.getElementById("mainFrame").src = '/Post/PostPost?sectionId=@Model.Id';
    }

    function formatTitle(value, row, index) {
        return "<a href='/Post?postId="+row.Id+"'>"+value+"</a>";
    }

    $(function () {
        //var obj = parent.document.getElementById("mainFrame");
        //obj.style.height = document.body.scrollHeight;
    });
    $(function () {
        $('#postDataGrid').datagrid({
            url: '/Post/GetSectionPosts?sectionId=@Model.Id',
            fitColumns: true,
            rownumbers: true,
            striped: true,
            singleSelect: true,
            scrollbarSize: 0,//去除表单右侧空白
            columns: [[
                { field: 'Id', hidden: true, width: fixWidth(0.03), title: '序号' },
                { field: 'Title', width: fixWidth(0.27), title: '标题',formatter:formatTitle },
                { field: 'Keyword', width: fixWidth(0.2), title: '关键词' },
                { field: 'PublicTime', width: fixWidth(0.2), title: '发布时间', formatter: formatDateBoxFull },
                { field: 'ScanAccount', width: fixWidth(0.2), title: '查看数' }
            ]],
            toolbar:[{
                text:'Add',
                iconCls:'icon-add',
                handler: AddPost
            }]
        });
        SetNavigateion(2, window.location.pathname+window.location.search, $('#title').html());
    });
</script>

    <div class="easyui-panel">
        @Html.DisplayFor(it=>it.Title)
        <label style="display:none" id="title">@Model.Title</label>
    </div>
    <div class="easyui-panel">
        <table class="easyui-datagrid" id="postDataGrid" title="帖子列表"></table>
@*        <table class="easyui-datagrid" id="postDataGrid" title="帖子列表"
            data-options="fitColumns:true,
            url:'/Post/GetSectionPosts?sectionId=@Model.Id',
            rownumber:true,striped:true,singleSelect:true"
            >
            <thead>
                <tr>
                    <th data-options="field:'Id'">Id</th>
                </tr>
            </thead>
        </table>*@
    </div>
