@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<script type="text/javascript">
    var dlg_Edit_form;
    var dlg_Edit;

    function add() {
        dlg_Edit_form.form('clear');
        dlg_Edit.dialog('open');
        dlg_Edit.dialog('setTitle', '模块注册');
        $('#Parentp').combobox('select', '0');//需要在对话框加载完成之后才能设置combobox的值吗？

        //dlg_Edit_form.url = virpath + '/Admin/CreateProductType/';
        //Msgalert("提示", '成功调用', "info");    
    }

    function loadParentCombobox() {
        $('#Parentp').combobox({
            url: '/Module/GetNotLeafModulsForCombobox',
            valueField: 'Id',
            textField: 'Text',
            editable: false,
            panelHeight: 'auto'
        });
    }

    function edit() {
        var rows = grid.datagrid('getSelections');
        var num = rows.length;
        if (num == 0) {
            $.messager.alert('提示', '请选择一条记录进行操作!', 'question');       
            return;
        }
        else if (num > 1) {
            $.messager.alert('提示', '您选择了多条记录,只能选择一条记录进行修改!', 'info');
            return;
        }
        else {
            dlg_Edit_form.form('clear');
            dlg_Edit.dialog('open');
            dlg_Edit.dialog('setTitle', '您正在修改' + rows[0].Name + '模块');
            //dlg_Edit_form.form('load', rows[0]); //加载到表单的控件上       
            //填充表单数据
            dlg_Edit_form.form('load', {
                id:rows[0].Id,
                name: rows[0].Name,
                description: rows[0].Description,
                url: rows[0].Url,
                isLeaf: rows[0].IsLeaf?"on":null,
                parent:rows[0].ParentId
            });
            //dlg_Edit_form.url = virpath + '/Admin/UpdateProductType?id=' + rows[0].ID;

        }
    }

    function del() {
        var arr = $('#grid').datagrid('getSelections');
        if (arr.length <= 0)
            $.messager.alert('提示', '请选择一条记录进行操作!', 'question');
        else
        {
            $.messager.confirm('提示信息', '您确认要删除选中的所有记录吗?', function (data) {
                var _list = [];
                for (var i = 0; i < arr.length; i++)
                {
                    _list[i] = arr[i].Id;
                }
                $.ajax({
                    url: '/Module/DeleteModules',
                    data: { "ids": _list },
                    //data: _list,  
                    dataType: "json",
                    type: "POST",
                    traditional: true,
                    success: function (data) {
                        // your logic  
                        if (data.Success)
                        {
                            alert("成功");
                        }
                    }
                });
            });
        }
    }

    function saveData() {
        if ($('#Id').val() == "0" || $('#Id').val() == "") {
            dlg_Edit_form.form('submit', {
                url: '/Module/RegisterModule',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (data) {
                    if (!data) $.messager.alert("异常", "出错了", "info", function () { });
                    msg = eval('(' + data + ')');
                    if (msg.Success) {
                        $.messager.show({
                            title: '模块注册',
                            msg: '注册成功',
                            timeout: 5000,
                            showType: 'slide'
                        });
                        dlg_Edit.dialog('close');
                        $('#grid').datagrid('reload');
                    }
                }
            });
        }
        else {
            //验证数据是否改动过
            //上传数据
        }
    }

    function showAll() {
        //grid.datagrid({ url: virpath + '/Admin/LoadProductTypejson/' });
    }

    function OpensearchWin() {
        //searchWin.window('open');
        //searchForm.form('clear');
    }



    function formatOper(val, row, index) {
        //return "<a href=''>查看模块功能</a>";
        //return '<a href="#" onclick="ModuleOperate()">修改</a>';
        //<a onclick="ModuleOperate(" 2','测试模块')'="" href="#">查看模块功能</a>
        //<a href="#" onclick="ModuleOperate(" 1","用户管理")"="">修改</a>
        //未能解决同时传递两个参数的问题，暂时只能传递一个参数
        return '<a href="#" onclick="ModuleOperate('+row.Id+')">修改</a>';
    }

    function ModuleOperate(id)
    {
        if (!parent.$('#Maintabs').tabs('exists', "模块功能设置"+id)) {
            parent.$('#Maintabs').tabs('add', {
                title: "模块功能设置" + id,
                closable: true,
                fit: true,
                content: '<iframe scrolling="auto" frameborder="0"  src="/Module/ModuleOperate?moduleId=' + id + '" style="width:100%;height:99.7%;overflow:hidden"></iframe>',//为何此处的高度不能设置成100%？
            });
        }
        else {
            //var selected = $('#Maintabs').tabs('getTab', $(this).text());
            $('#Maintabs').tabs('select', "模块功能设置" + id);
        }
    }

    $(function () {
        grid = $('#grid').datagrid({
            title: '模块设置',
            iconCls: 'icon-save',
            methord: 'Get',
            url: '/Module/GetAllModules',
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 10,
            striped: true,
            scrollbarSize: 0,
            frozenColumns: [[
                        { field: 'ck', checkbox: true }

            ]],
            columns: [[
                        { field: 'Id', title: '模块编号', width: 100, sortable: true },
                        { field: 'Name', title: '模块名称', width: 100, sortable: true },
                        { field: 'Url', title: '模块地址', width: 100, sortable: true },
                        { field: 'Description', title: '模块说明', width: 100, sortable: true },
                        { field: 'IsLeaf', title: '是否有子模块', width: 100, sortable: true },
                        { field: 'ParentId', title: '父级Id', width: 100, hidden: true },
                        { field: '_link', title: '查看模块功能', width: 100, formatter: formatOper }
            ]],
            fit: true,
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            singleSelect: false,
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: add
            }, '-', {
                text: '修改',
                iconCls: 'icon-edit',
                handler: edit
            }, '-', {
                text: '删除',
                iconCls: 'icon-remove',
                handler: del
            }, '-', {
                text: '查找',
                iconCls: 'icon-search',
                handler: OpensearchWin
            }, '-', {
                text: '所有',
                iconCls: 'icon-search',
                handler: showAll
            }], onDblClickRow: function (rowIndex, rowData) {  //双击事件
                //dlg_Edit.dialog('open');
                //dlg_Edit_form.form('clear');
                //dlg_Edit.dialog('setTitle', '您正在修改:' + rowData.ProductTypeName );
                //dlg_Edit_form.form('load', rowData); //加载到表单的控件上      

                //dlg_Edit_form.url = virpath + '/Admin/UpdateProductType?id=' + rowData.ID;

            }, onHeaderContextMenu: function (e, field) {
                //e.preventDefault();
                //if (!$('#tmenu').length) {
                //    createColumnMenu();
                //}
                //$('#tmenu').menu('show', {
                //    left: e.pageX,
                //    top: e.pageY
                //});
            }
        });

        loadParentCombobox();//加载数据必须放在对话框初始化之前？

        dlg_Edit = $('#Dlg-Edit').dialog({
            closed: true,
            modal: true,
            toolbar: [{
                text: '保存',
                iconCls: 'icon-save',
                handler: saveData
            }, '-', {
                text: '关闭',
                iconCls: 'icon-no',
                handler: function () {
                    dlg_Edit.dialog('close');
                }
            }]

        });
        dlg_Edit_form = dlg_Edit.find('form');
    });
</script>

<style type="text/css">
    .easyui-panel {
        border: none;
    }

    label {
        display: inline-block;
        width: 80px;
        text-align: right;
    }

    .fitem {
        margin: 10px 5px 10px 5px;
    }
</style>

<div region="center" style="width: 500px; height: 300px; padding: 1px; overflow-y: hidden; border: none">
    <div id="grid">
    </div>
</div>

<div id="Dlg-Edit" title="模块注册" style="width: 300px; height: 250px">
    <div class="easyui-panel" style="vertical-align:central">
        <form method="post" id="moduleform">
            <div class="fitem" style="display:none">
                <label>模块Id:</label>
                <input class="easyui-validate" required="required" name="id" value="0" id="Id" />
            </div>
            <div class="fitem">
                <label>模块名:</label>
                <input class="easyui-validatebox" required="required" name="name" />
            </div>
            <div class="fitem">
                <label>url:</label>
                <input class="easyui-validatebox" required="required" name="url" />
            </div>
            <div class="fitem">
                <label>模块描述:</label>
                <input class="easyui-validatebox" required="required" name="description" />
            </div>
            <div class="fitem">
                <label>是否有子模块:</label>
                <input type="checkbox" name="isLeaf" />
            </div>
            <div class="fitem">
                <label>上级模块:</label>
                <input id="Parentp" name="parent" />
            </div>
        </form>
    </div>
</div>

