<div class="easyui-panel">
    <form id="LoginForm" method="post">
        <div class="fitem" style="margin-left:20px">
            <label>账户：</label>
            <input class="easyui-validatebox" required="required" name="name" id="name" value="Admin" />
        </div>
        <div class="fitem" style="margin-left:20px">
            <label>密码：</label>
            <input class="easyui-validatebox" required="required" name="password" type="password" value="Admin" />
        </div>
        <div class="fitem" style="float:none;text-align:center;padding:5px;margin-top:20px">
            <a href="javascript:" class="easyui-linkbutton" onclick="RegisterButton()">注册</a>
            <a href="javascript:" class="easyui-linkbutton" onclick="LoginButton()">登录</a>
            <a href="javascript:" class="easyui-linkbutton" onclick="CancelButton()">取消</a>
        </div>
    </form>
</div>
<script type="text/ecmascript">
    function LoginButton() {
        //var f = document.getElementById('imageInput').files[0];
        $('#LoginForm').form('submit', {
            url: '/Account/Login',
            //onSubmit: function (data) {
            //    data["userPhoto"] = f;
            //},
            success: function (data) {
                msg = eval('(' + data + ')');
                if (msg.Success) {
                    var loginDialog = $("#LoginDialog");
                    loginDialog.empty();
                    loginDialog.dialog("close");

                    //parent.$('#LoginLink').empty();
                    parent.$('#LoginLink').text(msg.Data.Name);
                    parent.$('#LoginLink').menubutton({
                        menu: "#Login_menu",
                    });
                }
                else
                {
                    $.messager.alert('登录失败！', msg.Message, 'info');
                }
            }
        });
    }

    function CancelButton()
    {
        var loginDialog = $("#LoginDialog");
        loginDialog.empty();
        loginDialog.dialog("close");
    }

    function RegisterButton()
    {
        var pp = parent.$('#LoginDialog');
        pp.empty();
        pp.dialog({
            method:'get',
            title: '用户注册',
            iconCls: "icon-edit",
            collapsible: true,
            minimizable: false,
            maximizable: false,
            resizable: true,
            width: 300,
            height: 330,
            modal: true,
            href:'/Account/Register'
        });
    }
</script>

<style type="text/css">
    .fitem {
        margin:5px 5px 5px 5px
    }
    .easyui-panel {
        border:none
    }
        label {
        display:inline-block;
        width:80px;
        text-align:right
    }
</style>