@model BBS2._0.ViewModel.PostDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function AddPost()
    {
        parent.document.getElementById("mainFrame").src = '/Post/ReplyPost?postId=@Model.Id';
    }

    $(function () {
        $('#replyDataGrid').datagrid({
            url: '/Post/GetPostReplies?postId=@Model.Id',
            fitColumns: true,
            rownumbers: true,
            striped: true,
            singleSelect: true,
            scrollbarSize: 0,
            columns: [[
                { field: 'Id', hidden: true, width: fixWidth(0.03), title: '序号' },
                { field: 'Content', width: fixWidth(0.77), title: '内容' },
                { field: 'Level', width: fixWidth(0.1), title: '层次' },
                { field: 'ReplyTime', width: fixWidth(0.1), title: '回复时间', formatter: formatDateBoxFull }
            ]],
            toolbar: [{
                text: 'Add',
                iconCls: 'icon-add',
                handler:AddPost
            }]
        });
        SetNavigateion(3, window.location.pathname + window.location.search, $('#title').html());
    })
</script>

<div class="easyui-panel">
    <table id="replyDataGrid"></table>
</div>
<div>
    <label id="title" style="display:none">@Model.Title</label>
</div>
