@model System.Int32
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function fixWidth(percent) {
        return document.body.clientWidth * percent; //这里你可以自己做调整  
    }

    function AddPost()
    {
        parent.document.getElementById("mainFrame").src = '/Post/ReplyPost?postId=@Model';
    }

    $(function () {
        $('#replyDataGrid').datagrid({
            url: '/Post/GetPostReplies?postId=@Model',
            fitColumns: true,
            rownumbers: true,
            striped: true,
            singleSelect: true,
            scrollbarSize: 0,
            columns: [[
                { field: 'Id', hidden: true, width: fixWidth(0.03), title: '序号' },
                { field: 'Content', width: fixWidth(0.77), title: '内容' },
                { field: 'Level', width: fixWidth(0.1), title: '层次' },
                { field: 'ReplyTime', width: fixWidth(0.1), title: '回复时间', formatter: formatDateBoxFull }
            ]],
            toolbar: [{
                text: 'Add',
                iconCls: 'icon-add',
                handler:AddPost
            }]
        });
    })
</script>

<div class="easyui-panel">
    <table id="replyDataGrid"></table>
</div>
